# We have different env variables to use in the local and AWS.
# So we will create two versions of the env file.

# 1. Create `env` folder at root

# 2. Create `.env.development` and `.env.production` files

# Below is the example of `development` and `production`
# development for testing on your local with `localhost`
# production for testing on your `EC2`

# fragments microservice API URL (make sure this is the right URL for you)
API_URL=

# AWS Amazon Cognito User Pool ID (use your User Pool ID)
AWS_COGNITO_POOL_ID=

# AWS Amazon Cognito Client App ID (use your Client App ID)
AWS_COGNITO_CLIENT_ID=

# AWS Amazon Cognito Host UI domain (user your domain)
AWS_COGNITO_HOSTED_UI_DOMAIN=

# OAuth Sign-In Redirect URL (use the port for your fragments-ui web app)
OAUTH_SIGN_IN_REDIRECT_URL=

# OAuth Sign-Out Redirect URL (use the port for your fragments-ui web app)
OAUTH_SIGN_OUT_REDIRECT_URL=

# Now, you set up the both env files. 
# Also env folder is already included in `.gitignore`, so don't worry.

# If you see the `scripts` in `package.json`, there are two version of scripts
# `dev:local` and `dev:aws`
# Execute the script according to the environment in which you are running.
